* {
  margin: 0;
  padding: 0;
  border: none;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  margin-bottom: 100px;
}

.save {
  padding: 5px 10px;
  border-style: solid;
  border-color: black;
  border-radius: 8px;
  border-width: 2px;
  background-color: transparent;
  font-weight: bold;
}

.save:hover {
  padding: 5px 10px;
  border-style: solid;
  border-color: transparent;
  border-radius: 8px;
  border-width: 2px;
  background-color: black;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.toDo {
  width: 100%;
  text-align: center;
}

.block {
  background-color: purple;
}

